h1 {
	color: rgba(234, 84, 91, 0.95);
	font-family: 'MuseoModerno', cursive;
	font-weight: bold;
}
/*
h2, h3 {
	color: rgba(234, 84, 91, 0.9);
}*/
h1, h2{
	text-align: center;
}

h2, h3 {
	color: #ea545b;
	opacity: 0.90;
	font-family: 'Roboto', sans-serif;
}

body {